<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- action -->
	<bean name="appboxCategoryAction" class="com.jike.mobile.browser.appbox.AppboxCategoryAction" scope="prototype">
       <property name="appboxService"><ref bean="appboxService" /></property>
    </bean>
    
    <bean name="appboxItemAction" class="com.jike.mobile.browser.appbox.AppboxItemAction" scope="prototype">
       <property name="appboxService"><ref bean="appboxService" /></property>
    </bean>
	
	<!-- service -->
	<!-- scope="singleton" -->
	<bean name="appboxService" class="com.jike.mobile.browser.appbox.AppboxServiceImpl" scope="prototype">
        <property name="appboxCategoryDao" ref="appboxCategoryDao" />
        <property name="appboxItemDao" ref="appboxItemDao" />
    </bean>
    
    <!-- timer -->
	<bean class="org.springframework.scheduling.timer.TimerFactoryBean">  
		<property name="scheduledTimerTasks">
		    <list><ref bean="scheduleReportTask"/></list>
		</property>
	</bean> 
    
	<bean id="scheduleReportTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">  
	    <property name="timerTask" ref="reportTimerTask" />  
	    <property name="period"><value>300000000</value></property>  
	    <property name="delay"><value>300000000</value></property>  
	</bean> 

	<bean id="reportTimerTask" class="com.jike.mobile.browser.appbox.Refresher">
        <property name="appboxService" ref="appboxService" />
	</bean> 
</beans>












