<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql://58.68.242.96:3306/browser?useUnicode=true&amp;characterEncoding=UTF8"></property>
		<property name="user" value="br"></property>
		<property name="password" value="zxcvbnm"></property>
		<property name="minPoolSize"><value>5</value></property>
		<property name="maxPoolSize"><value>30</value></property>
		<property name="initialPoolSize"><value>5</value></property>
		<property name="maxIdleTime"><value>60</value></property>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource"><ref bean="dataSource" /></property>
		<property name="hibernateProperties">
			<props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
            <list> 
                <value>com/jike/mobile/browser/model/Category.hbm.xml</value>
                <value>com/jike/mobile/browser/model/Item.hbm.xml</value>
                <value>com/jike/mobile/browser/model/AppboxCategory.hbm.xml</value>
                <value>com/jike/mobile/browser/model/AppboxItem.hbm.xml</value>
                <value>com/jike/mobile/browser/model/QuickStartIcon.hbm.xml</value>
            </list>
        </property>
	</bean>
	
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
		  <!-- all methods starting with 'get' are read-only -->
		   <tx:method name="find*" read-only="true"/>
		   <tx:method name="get*" read-only="true"/>
		   <!-- other methods use the default transaction settings (see below) -->
		   <tx:method name="*"/>
		</tx:attributes>
	</tx:advice>
    
    <aop:config>
	    <aop:pointcut id="appboxServicePointcut" expression="execution(* com.jike.mobile.browser.appbox.*Impl.*(..))"/>
	    <aop:pointcut id="extensionServicePointcut" expression="execution(* com.jike.mobile.browser.extension.*Impl.*(..))"/>
	    <aop:pointcut id="quickStartServicePointcut" expression="execution(* com.jike.mobile.browser.quickStart.*Impl.*(..))"/>
	    <aop:advisor advice-ref="txAdvice" pointcut-ref="appboxServicePointcut"/>
	    <aop:advisor advice-ref="txAdvice" pointcut-ref="extensionServicePointcut"/>
	    <aop:advisor advice-ref="txAdvice" pointcut-ref="quickStartServicePointcut"/>
    </aop:config>
    
    <bean name="sysInfoService" class="com.jike.mobile.browser.sys.SysInfoServiceImpl"></bean>
    
    <bean name="ServerConfig" class="com.jike.mobile.browser.sys.ServerConfig">
        <property name="sysInfoService"><ref bean="sysInfoService" /></property>
    </bean>
    
    <!-- dao -->
    <bean name="itemDao" class="com.jike.mobile.browser.dao.impl.ItemDaoImpl">
        <property name="sessionFactory"><ref bean="sessionFactory" /></property>
    </bean>
    
    <bean name="categoryDao" class="com.jike.mobile.browser.dao.impl.CategoryDaoImpl">
        <property name="sessionFactory"><ref bean="sessionFactory" /></property>
    </bean>
    
    <bean name="appboxCategoryDao" class="com.jike.mobile.browser.dao.impl.AppboxCategoryDaoImpl">
        <property name="sessionFactory"><ref bean="sessionFactory" /></property>
    </bean>
    
    <bean name="appboxItemDao" class="com.jike.mobile.browser.dao.impl.AppboxItemDaoImpl">
        <property name="sessionFactory"><ref bean="sessionFactory" /></property>
    </bean>
    
    <bean name="quickStartIconDao" class="com.jike.mobile.browser.dao.impl.QuickStartIconDaoImpl">
    	<property name="sessionFactory"><ref bean="sessionFactory" /></property>
    </bean>
    
    <import resource="extension/applicationContext_extension.xml" />
    <import resource="appbox/applicationContext_appbox.xml" />
    <!-- <import resource="quickStart/applicationContext_quickStart.xml"/> -->
    <import resource="quickStart/applicationContext_quickStart.xml"/>
    <!-- <import resource="bookMark/applicationContext_bookMark.xml"/> -->
</beans>












